[submodule "external/MemoryModule"]
	path = external/MemoryModule
	url = https://github.com/fancycode/MemoryModule
[submodule "external/SEH-inside-VEH"]
	path = external/SEH-inside-VEH
	url = https://github.com/Nick-Source/SEH-inside-VEH
